# Pandas

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [17]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30} # Dictionary

In [18]:
labels

['a', 'b', 'c']

In [19]:
my_data

[10, 20, 30]

In [20]:
d

{'a': 10, 'b': 20, 'c': 30}

In [21]:
arr

array([10, 20, 30])

In [22]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [23]:
pd.Series(data = my_data,index = labels)

a    10
b    20
c    30
dtype: int64

In [24]:
# Putting them in correct order, then don't need to assign them
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [25]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [26]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [27]:
# Dictionary to Series
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [28]:
# Pandas Series has variety of object

In [29]:
pd.Series(data=[sum,print,len]
# It gives the reference to the inbuilt function

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

# # Grabbing the information from the Series

In [31]:
ser1 = pd.Series([1,2,3,4],['USA','INDIA','USSR','JAPAN'])

In [32]:
ser1

USA      1
INDIA    2
USSR     3
JAPAN    4
dtype: int64

In [33]:
ser2 = pd.Series([1,2,5,4],['USA','INDIA','ITALY','JAPAN'])

In [35]:
ser2

USA      1
INDIA    2
ITALY    5
JAPAN    4
dtype: int64

In [37]:
ser1['USA']

1

In [38]:
ser3 = pd.Series(data = labels)

In [39]:
ser3

0    a
1    b
2    c
dtype: object

In [40]:
ser3[0]

'a'

In [41]:
ser1 + ser2

INDIA    4.0
ITALY    NaN
JAPAN    8.0
USA      2.0
USSR     NaN
dtype: float64